@model IEnumerable<RaysCoursesWebAPI.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Umail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UphoneNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Umail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Upassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UphoneNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
